<a href="https://colab.research.google.com/github/KatrinPal/Katrincodes/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data = "Good Morning WoTech" #we assaign a text value to this variable
print(data)

# this is a comment
# another comment

#lets us now assign a number
data = 14
print(data)

# this is a comment
# another comment
# go on

this_is_a_variable = "Good morning WoTech!" #we assign a text value to this variable
print(this_is_a_variable)

# lest us now assign a number
this_is_a_variable = 14
print(this_is_a_variable)

Good Morning WoTech
14
Good morning WoTech!
14

In [ ]:
name = "Anna" #text/string
surename = "jamama" #text/string
age = 35 #integer
occupation = "programmer" #text/string
university_graduate = False #boolean
height = 172.23 #float
print(name, surename, age, occupation, university_graduate, height)
name = "Anna" #text/string
surname = "Johnson" #text/string
age = 35 #integer
occupation = "Programmer" #text/string
university_graduate = False #boolean
height = 172.23 #float

print(name, surname, age, occupation, university_graduate, height)
print(f"Full name: {name} {surname}\nOccupation: {occupation}\nUni degree: {university_graduate}")

Anna jamama 35 programmer False 172.23

In [ ]:
# we are preparing for a party
guest1 = "John"
guest2 = "Anna"
guest2 ="Jennifer"

guests = ["John", "Anna", "Jennifer"]
print(guests)
for guest in guests:
  print(guest)

['John', 'Anna', 'Jennifer']
John
Anna
Jennifer

In [ ]:
var_1 = 100
print(var_1)

100

In [ ]:
test_2

NameError: name 'test_2' is not defined

In [ ]:
name = "trees "*10
print(name, end="")

trees trees trees trees trees trees trees trees trees trees

In [ ]:
name = input("Enter your name:")

print(f'Hello {name}, nice to meet you!')

Enter your name:Katrin
Hello Katrin, nice to meet you!

In [ ]:
print(f'Hello {name}, I would like to read the book Hamlet')

Hello Katrin, I would like to read the book Hamlet

In [ ]:
name = 'Anna'
surname = 'Johnson'
print('Hello', name, '!')

Hello Anna !

In [ ]:
name = 'Katrin'
surname = 'Johnson'

print(f'{name} {surname} wants to read "Hamlet".')

Katrin Johnson wants to read "Hamlet".

In [ ]:
name = 'Kalev'
surname = 'Spa'
gender = 'male'
age = 35 #integer
occupation = "receptionist" #text/string
height = 172.23 #float
bank_account_number = 1000029307646537645

print(f'{name} {surname},{gender},{age},{height},{occupation},{bank_account_number} wants to earn more.')

Kalev Spa,male,35,172.23,receptionist,1000029307646537645 wants to earn more.