<a href="https://colab.research.google.com/github/KatrinPal/Katrincodes/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = "18,5"

type(age)

str

In [ ]:
fruits = ['apple', 'orange', 'banana', 'grape', 'kiwi']

user_input = input('enter a fruit name: ')

# check if input exists in list

if user_input in fruits:
  print("Yes, it is in the list.")
else:
  print("NO, it's not in the list.")

enter a fruit name: melon
NO, it's not in the list.

In [ ]:
# Define a list of numbers
numbers = [1, 2, 3, 4, 5]

# Prompt the user to enter a number
user_input = input("Please enter a number: ")

# Convert the input to an integer
number = int(user_input)

# Check if the number is in the list
if number in numbers:
    # Check if the number is even or odd
    if number % 2 == 0:
        print(f"The number {number} is even and it's in the list.")
    else:
        print(f"The number {number} is odd and it's in the list.")
else:
    print(f"The number {number} is not in the list.")

Please enter a number: 7
The number 7 is not in the list.

In [ ]:
numbers = [1,2,3,4,5]

user_number = int(input("Please enter a number: "))

if user_number in numbers:
  if user_number %2 == 0:
    print('Your even number is on the list')
  else:
    print('Your odd number is on the list')
else:
  print('Your number is not on the list')

### list methods

In [ ]:
# APPEND

items = ['apple', 'kiwi', 'orange']
print(f'original items {items}')

my_value = 'banana'
items.append(my_value)
print(f'changed items {items}')

original items ['apple', 'kiwi', 'orange']
changed items ['apple', 'kiwi', 'orange', 'banana']

In [ ]:
# COPY

original_list = [1,2,3,4,5]
copied_list = original_list.copy()

original_list.append(6)
print(original_list)
print(copied_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [ ]:
# COUNT

numbers = [1,2,7,6,5,5]

target_number = 5
count = numbers.count(target_number)
print(f'The number {target_number} appears {count} times in the list')

The number 5 appears 2 times in the list

In [ ]:
# INDEX

fruits = ['apple', 'banana', 'orange']
fruits_index = fruits.index('banana')
print(f'index of "banana" is: {fruits_index}')

index of "banana" is: 1

In [ ]:
# INSERT

numbers = [1,2,3,4,5]
numbers.insert(2, 10)

print(numbers)

[1, 2, 10, 3, 4, 5]

In [ ]:
# POP

numbers.pop(1)
print(numbers)

[1, 5]

In [ ]:
# SORT

numbers2 = [6,9,10,3,5]
numbers2.sort()
print(numbers2)

[3, 5, 6, 9, 10]

In [ ]:
# create a list of 5 elements

numbers = [7,4,6,9,4]

#
max_value = max(numbers)
print("The maximum value in the list is:", max_value)

#min value
min_value = min(numbers)
print("The minimum value in the list is:", min_value)

# avarage value
avg_value = avg(numbers)
print("The avarage value in the list is:", avg_value)

The maximum value in the list is: 9
The minimum value in the list is: 4

NameError: name 'avg' is not defined

In [ ]:
#Create a list of 5 numbers
numbers = [1,5,6,5,8]

#Calculate maximum value of n
numbers = [1, 5, 6, 5, 8]
max_value = max(numbers)
print(max_value)

#Calculate minimum value
numbers = [1, 5, 6, 5, 8]
min_value = min(numbers)
print(min_value)

#Calculate average value
numbers = [1, 5, 6, 5, 8]
average_value = sum(numbers) / len(numbers)
print(average_value)

# Check if the average value of the list is  higher
numbers = [1, 5, 6, 5, 8]
threshold = 4.5  # Example threshold value

average_value = sum(numbers) / len(numbers)

if average_value > threshold:
    print("The average value is higher than the threshold.")
else:
    print("The average value is not higher than the threshold.")

#if the average is greater than 3, print "Average is greater", otherwise "Average is not greater"
numbers = [1, 5, 6, 5, 8]
average_value = sum(numbers) / len(numbers)
if average_value > 3:
    print("Average is greater")
else:
    print("Average is not greater")

#Sort the list
numbers = [1, 5, 6, 5, 8]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

#Remove first number of the list
numbers = [1, 5, 6, 5, 8]
numbers.pop(0)
print(numbers)

#Add your Name to the list°
names = ['Liene', 'Ilze', 'Janis']
names.append('Lasma')
print(names)

#Calculate at what index is your name
names = ['Liene', 'Ilze', 'Janis', 'Lasma']
index_of_my_name = names.index('Lasma')
print("Index of 'Lasma' is:", index_of_my_name)

8
1
5.0
The average value is higher than the threshold.
Average is greater
[1, 5, 5, 6, 8]
[5, 6, 5, 8]
['Liene', 'Ilze', 'Janis', 'Lasma']
Index of 'Lasma' is: 3

In [ ]:
numbers = [1, 6, 13, 2, 5]

max_value = max(numbers)
print(f"The maximum value in the list is: {max_value}")

min_value = min(numbers)
print(f"The minimum value in the list is: {min_value}")

average_value = sum(numbers) / len(numbers)
print(f"The average value in the list is: {average_value}")

# if the average val is higher than 3
if average_value > 3:
  print("The average value of numbers in the list is higher than 3")
else:
  print("The average value of numbers on the list is lower than 3")

numbers.sort()

numbers.pop(0)

numbers.append("Elina")

numbers.index("Elina")

The maximum value in the list is: 13
The minimum value in the list is: 1
The average value in the list is: 5.4
The average value of numbers in the list is higher than 3

4

# for loops; RANGE (start, stop, step)

In [ ]:
range(7)

for i in numbers_with_range:
  print(i)

1
2
3
4
5
6

In [ ]:
for number in numbers_with_range:
  print(number)

1
2
3
4
5
6

In [ ]:
for number in numbers_with_range:
  number = number*2
  print(number)

2
4
6
8
10
12

# Teamwork: Analyzing Numbers - Iterate through a list of 10 random numbers and determine whether each number is higher or lower than 5

In [ ]:
numbers = [7,6,8,0,3,77,4]

for number in numbers:
    if number > 5:
      print(f'{number} is higher than 5')
    elif number < 5:
      print(f'{number} is lower than 5')
else:
  print(f'{number} is equal to 5')

7 is higher than 5
6 is higher than 5
8 is higher than 5
0 is lower than 5
3 is lower than 5
77 is higher than 5
4 is lower than 5
4 is equal to 5

In [ ]:

numbers = [7, 6, 8, 0, 3, 77, 4]

for number in numbers:
    if number > 5:
        print(f"{number} is higher than 5")
    elif number < 5:
        print(f"{number} is lower than 5")
    else:
        print(f"{number} is equal to 5")

7 is higher than 5
6 is higher than 5
8 is higher than 5
0 is lower than 5
3 is lower than 5
77 is higher than 5
4 is lower than 5